<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Course Selection</title>

    
    
  </head>
  <body>
      <div class="header">
        <div class="container">
             
          
            
            <img class=" pull-left header-logo" src="NTU Logo.png" alt="NTU Logo">
         
         
            <img class="pull-right header-logo" style="padding-left: 47.5rem" src="UFace Logo.png" alt="UFace Logo">
         
        </div>
        
    </div>

    <div class="container">
      
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">UserName</h5>
      <!--href to be changed to homepage-->
        <a class="btn btn-secondary" href="{% url 'logout' %}">Log Out</a>
      </div>
    </div>
      
    





    <div class="container">

     
        <label>Course</label>
        <select class="form-control course selectFilter" data-target="index">
           <option value="-1">--Select Course--</option>

           <option data-ref="3002">CZ3002</option>
           <option data-ref="3003">CZ3003</option>
          
        </select>

     
      
        <label>Index</label>
        <select class="form-control index selectFilter" data-target="session">
          <option value="-1">--Select Index--</option>

          <option data-ref="215" data-belong="3002">10215</option>
          <option data-ref="216" data-belong="3002">10216</option>

          <option data-ref="224" data-belong="3003">10224</option>
          <option data-ref="225" data-belong="3003">10225</option>
      
          
        </select>
     

      
        <label>Session</label>
        <select class="form-control session selectFilter">
          <option value="-1">--Select Session--</option>

          <option data-belong="215">Lab 1</option>
          <option data-belong="215">Lab 2</option>
          <option data-belong="215">Lab 3</option>

          <option data-belong="216">Lab 1</option>
          <option data-belong="216">Lab 2</option>
          <option data-belong="216">Lab 3</option>
        
          <option data-belong="224">Lab 1</option>
          <option data-belong="224">Lab 2</option>
          <option data-belong="224">Lab 3</option>

          <option data-belong="225">Lab 1</option>
          <option data-belong="225">Lab 2</option>
          <option data-belong="225">Lab 3</option>

        </select>
      
   </div>

   <br />
   <br />

   <div class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-secondary" href="{% url 'UfaceInterface:view-name-list' %}">View Name List</a>
      
      </div>

      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <!--href to be changed to attendane taking page-->
        <a class="btn btn-secondary" href="{% url 'UfaceInterface:take-attendance' %}">Start Attendance Taking</a>
        
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <a class="btn btn-secondary" href="{% url 'UfaceInterface:view-report' %}">View Report</a>
      </div>
    </div>
   </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="selectFilter.min.js"></script>
  </body>